{
    "telemetry.enableCrashReporter": false,
    "editor.formatOnSave": true,
    "editor.lineNumbers": "on",
    "editor.detectIndentation": true,
    "editor.wordWrap": "off",
    "files.autoSave": "off",
    "files.insertFinalNewline": true,
    "files.trimTrailingWhitespace": true,
    "editor.trimAutoWhitespace": true,
    "terminal.integrated.fontFamily": "Source Code Pro",
    "python.pythonPath": "/home/username/.virtualenvs/vscode/bin/python",
    "python.venvPath": "/home/username/.virtualenvs/vscode",
    "python.linting.enabled": true,
    "python.linting.pep8Enabled": false,
    "python.linting.flake8Enabled": true,
    "python.unitTest.unittestEnabled": false,
    "workbench.startupEditor": "newUntitledFile",
    "docker-explorer.enableTelemetry": false,
    "docker-explorer.showAzureRegistries": false,
    "docker-explorer.showDockerContainers": false,
    "docker-explorer.showDockerHubTreeView": false,
    "docker-explorer.showSuggestedDockerImages": false,
    "docker-explorer.showDockerImages": false,
    "workbench.colorTheme": "Solarized Dark",
    "workbench.editor.enablePreview": false,
    "gitlens.advanced.messages": {
        "suppressCommitHasNoPreviousCommitWarning": false,
        "suppressCommitNotFoundWarning": false,
        "suppressFileNotUnderSourceControlWarning": false,
        "suppressGitVersionWarning": false,
        "suppressLineUncommittedWarning": false,
        "suppressNoRepositoryWarning": false,
        "suppressResultsExplorerNotice": false,
        "suppressShowKeyBindingsNotice": true
    },
    "workbench.iconTheme": null,
}
