{
    "telemetry.enableCrashReporter": false,
    "editor.lineNumbers": "on",
    "editor.detectIndentation": true,
    "editor.wordWrap": "off",
    "files.autoSave": "off",
    "files.insertFinalNewline": true,
    "files.trimTrailingWhitespace": true,
    "editor.trimAutoWhitespace": true,
    "terminal.integrated.fontFamily": "{{ nerd_font_name }}",
    "python.pythonPath": "{{ ansible_user_dir }}/.virtualenvs/default/bin/python",
    "python.venvPath": "{{ ansible_user_dir }}/.virtualenvs/default",
    "python.linting.enabled": true,
    "python.linting.pycodestyleEnabled": false,
    "python.linting.flake8Enabled": true,
    "python.testing.unittestEnabled": false,
    "workbench.startupEditor": "newUntitledFile",
    "workbench.colorTheme": "Darcula",
    "workbench.editor.enablePreview": false,
    "gitlens.advanced.messages": {
        "suppressCommitHasNoPreviousCommitWarning": false,
        "suppressCommitNotFoundWarning": false,
        "suppressFileNotUnderSourceControlWarning": false,
        "suppressGitVersionWarning": false,
        "suppressLineUncommittedWarning": false,
        "suppressNoRepositoryWarning": false,
    },
    "workbench.iconTheme": null,
    "git.autofetch": true,
    "git.confirmSync": false,
    "explorer.confirmDelete": false,
    "workspacesort.workspaceDirectory": "{{ ansible_user_dir }}/Documents",
    "[json]": {
        "editor.defaultFormatter": "HookyQR.beautify"
    },
    "git.enableSmartCommit": true,
    "editor.autoIndent": "brackets",
    "terraform.languageServer": {
        "external": true,
        "args": [
            "serve"
        ]
    },
    "[terraform]": {
        "editor.formatOnSave": true
    },
    "editor.minimap.enabled": false,
    "editor.suggestSelection": "first",
    "python.languageServer": "Pylance",
    "debug.onTaskErrors": "debugAnyway",
    "diffEditor.ignoreTrimWhitespace": false,
    "go.toolsManagement.autoUpdate": true,
    "workbench.editorAssociations": [
        {
            "viewType": "jupyter.notebook.ipynb",
            "filenamePattern": "*.ipynb"
        }
    ],
    "window.zoomLevel": 2,
    "diffEditor.codeLens": true,
    "workbench.editor.untitled.hint": "hidden"
}
